@import "src/shared/styles/colors";
@import "src/shared/styles/breakpoints";

.button {
  width: 18rem;
  height: 3rem;
  background-color: $orange-100;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
  font-weight: 600;
  color: $white-100;

  &:hover {
    background-color: $orange-80;
  }

  &:active {
    background-color: $orange-120;
  }

  @media (min-width: $large) {
    font-size: 1.25rem;
    line-height: 1.4375rem;
    min-width: 18.5rem;
    height: 4rem;
  }
}