@import 'src/shared/styles/colors';
@import 'src/shared/styles/breakpoints';

@mixin background-diagonal() {
  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    border-bottom: 100vh solid $orange-5;
    border-left: 100vw solid $white-100;
  }
}

@mixin side-lines($bg-color: $black-40) {
  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    min-width: 1.0625rem;
    height: 1px;
    background: $bg-color;
    top: 50%;
    transition: background 0.3s linear;

    @media (max-width: $large) {
      width: 200%;
    }
  }

  &::before {
    left: 0;
    transform: translate(-100%, -50%);
  }

  &::after {
    right: 0;
    transform: translate(100%, -50%);
  }
}

